label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-light);
  border-radius: 4px;
  font-size: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.5rem;
}

textarea {
  resize: none;
}

button[type = "submit"] {
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-light);
  border-radius: 4px;
  font-size: 1rem;
}

button[type = "submit"]:hover {
  background-color: var(--primary-light);
}
